  	.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
  	.jumbotron {
  		background-color: #664c1c;
  		color: white;
  	}
  	.navbar-inverse {
  		background-color: #664c1c;
  	}
  	#Desk{
  		background-color: #384254;
  	}
    #firstline {
      border-left: 2px solid grey;
      padding-left: 5px;
      margin-left: 17px;
    }
    blockquote {
      border-left: 4px solid #664c1c;
    }